
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  color: #39ff14;
}




/* Background */
.container {
  min-height: 100vh;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Form Card */
.form-card {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.form-card input,
.form-card select,
.form-card textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.form-card input:focus,
.form-card select:focus,
.form-card textarea:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

/* Row layout */
.row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.row.wrap {
  flex-wrap: wrap;
}

/* Small input (country code) */
.code {
  max-width: 60px;
}

/* Labels */
label {
  font-size: 14px;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #574fd6;
}